.home {

  .cover {
    color: white;
    background: no-repeat center bottom;
    background-size: cover;
    background-image: url('../img/cover.jpg');
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      height: 50px;
    }
  }

  .content {
    text-align: center;
    background-color: aliceblue;
  }
}
