{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "useBuiltIns": "usage"
          }
        ],
        "@babel/react",
        "@babel/stage-0"
      ],
      "plugins": [
        [
          "@babel/syntax-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ],
        "@babel/transform-react-jsx-source",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "useBuiltIns": "usage",
            "uglify": "true"
          }
        ],
        "@babel/react",
        "@babel/stage-0"
      ],
      "plugins": [
        [
          "@babel/syntax-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ]
      ]
    },
    "server": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "8.9.3"
            },
            "modules": false,
            "useBuiltIns": "usage"
          }
        ],
        "@babel/react",
        "@babel/stage-0"
      ],
      "plugins": [
        [
          "@babel/syntax-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ],
        "@babel/transform-react-jsx-source"
      ]
    }
  }
}
