# Dependency directories
node_modules/

# Build directories
dist/

# Config file
client/src/entry/Config.js
server/config.js

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
/build
/public/dist

# misc
.DS_Store
.env
