.container {
  position: relative;
  height: 100vh;

  .cover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;

    > img {
      height: 100% !important;
      object-fit: cover;
    }
  }

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;

    .title {
      margin: 20% 0 10px;
      text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    }
  }
}
