.container {
  position: relative;
  height: 100vh;

  .cover {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;

    > img {
      height: 100% !important;
      object-fit: cover;
    }
  }

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;

    .title {
      margin: 20% 0 10px;
      text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }
  }
}
